bcrypt==3.2.2
cryptography==37.0.4
dnspython==2.1.0
fastapi==0.75.0
Jinja2==3.1.2
jose==1.0.0
motor==3.0.0
numpy==1.23.1
oauth==1.0.1
pandas==1.4.3
passlib==1.7.4
pydantic==1.9.0
pymongo==4.1.1
python-dotenv==0.20.0
python-jose==3.3.0
requests==2.25.1
scikit-learn==1.1.1
sklearn==0.0
starlette==0.17.1
uvicorn==0.17.6
