{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/dataTables_dark.css') }}">
{% endblock %} 

{% block content %} 
    <div class="rounded-sm overflow-hidden">
        <div class="py-8 px-5">Data Karier</div>
        <div class="sm:flex sm:justify-between sm:items-center">
            <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2 p-4">
                <div class="relative">
                    <a href="/export" class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                        Export CSV
                    </a>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="py-2 px-5 flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-center"  id="dataTable">
                            <thead class="border-b bg-gray-800">
                                <tr>
                                    <th> NIS </th>
                                    <th> Nama </th>
                                    <th> Jenis Kelamin </th>
                                    <th> Jurusan </th>
                                    <th> Kelas </th>
                                    <th> Kematangan Karir</th>
                                    <th> Aksi </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr class="border-b">
                                        <td class="dark:text-black">{{student.student_parent_number}}</td>
                                        <td class="dark:text-black">{{student.student_name}}</td>
                                        <td class="dark:text-black">{{student.gender}}</td>
                                        <td class="dark:text-black">{{student.major}}</td>
                                        <td class="dark:text-black">{{student.student_class}}</td>
                                        <td class="dark:text-black">
                                            {{ student.maturity_career }}
                                        </td>
                                        <!-- <td>
                                            <span 
                                                class="text-sm inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline text-black rounded-full"
                                            >   
                                                Matang
                                            </span>
                                        </td> -->
                                        <td>
                                            <a 
                                                href="#"
                                                class="inline-block px-6 pt-2.5 pb-2 text-sm leading-normal shadow-md rounded bg-blue-600 text-white hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out align-center"
                                            >
                                                <span> Detail </span>
                                            </a>
                                            <!-- <form action="/career/{{student._id}}" method="POST">
                                                <button 
                                                    type="submit"
                                                    class="inline-block px-6 pt-2.5 pb-2 text-sm leading-normal shadow-md rounded bg-blue-600 text-white align-center"
                                                >
                                                    <span> Hapus </span>
                                                </button>
                                            </form> -->
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>              
    </div>
{% endblock %} 

{% block js %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
{% endblock %} 
