{% extends "base.html" %}

{% block title %} 
  <title>Dashboard</title>
{% endblock %} 

{% block content %} 
    <h2 class="py-8 px-6">Dashboard</h2>

    <div class="grid gap-6 mb-8 md:grid-cols-2">
        <div class="min-w-0 ml-4 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mx-4 font-semibold text-gray-800 dark:text-gray-300">Bar Chart</h4>
        </div>
        <div class="min-w-0 mr-3 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
            <h4 class="mx-4 font-semibold text-gray-800 dark:text-gray-300">Bar Chart</h4>    
        </div>
    </div>
{% endblock %} 