{% extends "admin/base.html" %}

{% block content %} 
    <div class="rounded-sm overflow-hidden">
        <div class="py-8 px-5">Profile</div>
        <div class="py-2 px-5">
            {% with errors=errors, success=success %}    
                {% include "components/alerts.html" %}
            {% endwith %}
            <form action="/profile" method="POST">
                <div class="py-2">
                    <span class="px-1 text-sm font-semibold text-gray-800 dark:text-gray-200">Email: </span>
                    <input 
                        type="email" 
                        name="email" 
                        value="{{data['email']}}"
                        class="block px-3 py-2 rounded-md text-gray-800 w-full bg-white border-2 border-gray-300 focus:bg-white focus:border-blue-500 focus:outline-none shadow-md">
                </div>
                {% if school_name %}
                <div class="py-2">
                    <span class="px-1 text-sm font-semibold text-gray-800 dark:text-gray-200">Nama Sekolah: </span>
                    <input 
                        type="text" 
                        name="school_name"
                        value="{{data['school_name']}}" 
                        class="block px-3 py-2 rounded-md w-full bg-white text-gray-800 border-2 border-gray-300 placeholder-gray-600 focus:bg-white focus:border-blue-500 focus:outline-none shadow-md">
                </div>
                {% endif %}
                <div class="px-4 py-3 text-right">
                    <button 
                        type="submit" 
                        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                    >
                        Simpan
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %} 